/* -------------------------------------------------------------------------- */
/* New Dashboard Styling                                                      */
/* -------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

#main_container {
  font-family: "Inter", sans-serif;
}

button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
}

.dashboard-header {
  margin-bottom: 0;
  padding-top: 0;
  min-height: 0;
  margin-right: 0;
}

.dashboard-body {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dashboard {
  flex-grow: unset !important;
  width: 850px;
}

.dashboard-panel {
  border-radius: 10px;
  margin: 0;
}

.main-contents {
  margin-left: 1.75em;
  margin-right: 1.75em;
}

.version {
  border-radius: 1.25em;
  border: 1px solid #ccc;
  border-style: solid;
  padding: 0.25em 0.75em;
  width: fit-content;
  color: rgba(0, 0, 0, 55%);
  font-size: 0.75em;
}

.block {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.title h1 {
  font-size: 2em;
  font-weight: 500;
  line-height: 120%;
  color: #262626;
}

.description {
  font-size: 1.3em;
  line-height: 1.3em;
}

.plus {
  margin-right: 0.5em;
  margin-bottom: 0.1em;
}

.generate {
  background: #0572ec;
  color: #ffffff;
  width: 18em;
  height: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  font-size: 1.2em;
  line-height: 130%;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.generate:active {
  background: #0450a6;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.generate:hover {
  background: #0567d5;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls a,
a:hover {
  color: #0364d3;
}

.controls button {
  width: 6.5em;
  height: 2.5em;
  border-radius: 0.5em;
  font-size: 1.2em;
  line-height: 130%;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.controls .finish {
  background: #157901;
  color: #ffffff;
  margin-left: 1em;
}

.controls .finish:active {
  background: #0f5501;
  color: #ffffff;
}

.controls .finish:hover {
  background: #136d01;
  color: #ffffff;
}

.controls .next {
  background: #0572ec;
  color: #ffffff;
  margin-left: 1em;
}

.controls .next:active {
  background: #0450a6;
  color: #ffffff;
}

.controls .next:hover {
  background: #0567d5;
  color: #ffffff;
}

.token {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.token input {
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5em;
  padding: 1em;
  font-size: 1.2em;
}

.error {
  border-left: 5px solid #ff0000;
  color: #262626;
  background-color: #ffcccb;
  padding: 1em;
  border-radius: 5px;
  font-weight: 600;
}

.warning {
  border-left: 5px solid #ffaa00;
  color: #262626;
  background-color: rgba(255, 170, 0, 0.2);
  padding: 1em;
  border-radius: 5px;
}

.success {
  border-left: 5px solid #1ba300;
  color: #262626;
  background-color: rgba(204, 230, 184, 0.5);
  padding: 1em;
  border-radius: 5px;
}

.success a {
  color: #262626;
  text-decoration: underline;
}

.indexes {
  font-size: 1.3em;
}

.index {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.index .title {
  width: 10em;
}

.index select {
  border-radius: 5px;
}

.switch {
  width: 25px;
}

.btn {
  box-shadow: none !important;
}

.btn.disabled,
.btn.disabled:active,
.btn.disabled:focus,
.btn.disabled:hover,
.btn[disabled],
.btn[disabled]:active,
.btn[disabled]:focus,
.btn[disabled]:hover {
  border: none !important;
  box-shadow: none !important;
}
