/* -------------------------------------------------------------------------- */
/* New Dashboard Styling                                                      */
/* -------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.dashboard-body {
  background: #ffffff;
  margin-top: 100px !important;
  border-radius: 10px;
}

.version {
  border-radius: 1.25em;
  border: 1px solid #ccc;
  border-style: solid;
  padding: 0.25em 0.75em;
  width: fit-content;
  color: rgba(0, 0, 0, 55%);
  font-size: 0.75em;
}

.block {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.title h1 {
  font-size: 2em;
  line-height: 120%;
  color: #262626;
}

.content {
  height: 20em;
}

.description {
  font-size: 1.3em;
  line-height: 1.3em;
}

.plus {
  margin-right: 0.5em;
  margin-bottom: 0.1em;
}

.generate {
  background: #0572ec;
  color: #ffffff;
  width: 1pem;
  height: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  font-size: 1.2em;
  line-height: 130%;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls button {
  width: 6.5em;
  height: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  font-size: 1.2em;
  line-height: 130%;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.controls .next {
  background: #157901;
  color: #ffffff;
  margin-left: 1em;
}

.token {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.token input {
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5em;
  padding: 1em;
  font-size: 1.2em;
}

.token button {
  height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  font-size: 1.2em;
  line-height: 130%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: #0572ec;
  color: #ffffff;
  margin-left: 1em;
  padding: 0 0.5em;
}

.error {
  border-left: 5px solid #ff0000;
  background-color: #ffcccb;
  padding: 1em;
  border-radius: 5px;
  font-weight: 600;
}

.warning {
  border-left: 5px solid #ffcc00;
  background-color: #fff8e0;
  padding: 1em;
  border-radius: 5px;
}

.success {
  border-left: 5px solid #98fb98;
  background-color: #f1f8e9;
  padding: 1em;
  border-radius: 5px;
}

.success a {
  font-weight: 600;
  color: #000000;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/* General Styling                                                            */
/* -------------------------------------------------------------------------- */

.setup.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.setup.container .left {
  width: 50%;
}

.setup.container .right {
  width: 50%;
}

.setup.container .description {
  /* none */
}

.setup.container .field {
  /* none */
}

.setup.container .field.hostname .protocol {
  /* none */
}

.setup.container .field .user_input {
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* -------------------------------------------------------------------------- */
/* Specific Element Styling                                                   */
/* -------------------------------------------------------------------------- */

.setup.container .field.api_url .user_input .protocol {
  /* Derived from Splunk */
  background-color: #eee;
  background-image: linear-gradient(180deg, #f7f7f7, #eee);
  border-color: #bfbfbf;
  border-radius: 5px 0px 0px 5px;
  border-style: solid;
  border-width: 1px 0px 1px 1px;

  /* Custom CSS */
  height: 20px;
  margin-bottom: 8px;
  padding: 4px 5px 0px 5px;
}

.setup.container .field.api_url .user_input .text input {
  border-left-width: 0px;
  border-radius: 0px 5px 5px 0px;
}

.setup.container .error.output {
  /* Used to set defaults for JQuery Fade In/Fade Out */
  display: none;
  opacity: 1;
}

.setup.container .error.output ul li {
  /* Styling for each line of the errors */
  color: rgba(255, 0, 0, 1);
}

.dashboard-body {
  max-width: 1200px;
  margin: auto;
}

#main_container {
  padding: 40px 60px;
  font-family: "Inter", sans-serif;
}
