.dashboard-dashboardpage {
  background: #0a2d4d;
}

.splunk-header > :nth-child(2),
header > :nth-child(2) {
  background: #0572ec;
}

.splunk-header > :nth-child(2) span,
header > :nth-child(2) span {
  color: #ffffff;
}

.dashboard-body {
  background: #ffffff;
}
